cached-property==1.5.2
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
colorama==0.4.4
decorator==5.0.9
dragonmapper==0.2.6
ffmpeg-python==0.2.0
filelock==3.0.12
filetype==1.0.7
future==0.18.2
hanzidentifier==1.0.2
idna==3.2
loguru==0.5.3
prettytable==2.1.0
requests==2.26.0
requests-file==1.5.1
selenium==3.141.0
six==1.16.0
tldextract==3.1.0
tqdm==4.62.1
urllib3==1.26.6
validators==0.18.2
wcwidth==0.2.5
win32-setctime==1.0.3
zhon==1.1.5
